<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/style.css" rel="stylesheet">
    <script src="../script/javascipt-vanilla.js"></script>
    
    <title>Najlepsza Liga</title>
</head>
<body >
  

 
   <!-- ten paragraf pomaga wczytać do tailwina klasy: my-hidden my-hidden-d<p class="my-hidden my-hidden-d">test</p> -->
    <nav class="  bg-sky-900  ">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="#" class=" ">
              <img  src="https://ekstraklasa-frontend-assets.s3.eu-central-1.amazonaws.com/images/logo-ekstraklasa-pko.png" class="object-fill h-16 "  />
            </a>      
  </div>
  
<button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">Blue</button>

</nav>

<section class="main-section">
  <!-- component -->
<div class="overflow-x-auto">
  <div class="min-w-screen min-h-screen bg-gray-100 flex items-center justify-center bg-gray-100 font-sans overflow-hidden">
      <div class="w-full lg:w-5/6">
          <div class="bg-white shadow-md rounded my-6">
              <table class="min-w-max w-full table-auto">
                  <thead>
                      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                        <th class="py-3 px-6 text-center">Ranking</th>
                          <th class="py-3 px-6 text-left">Drużyna</th>
                          <th class="py-3 px-6 text-left">Rozegrane mecze</th>
                          <th class="py-3 px-6 text-center">Punkty</th>
                          <th class="py-3 px-6 text-center">Zwycięstwa</th>
                          <th class="py-3 px-6 text-center">Remisy</th>
                          <th class="py-3 px-6 text-center">Porażki</th>
                          <th class="py-3 px-6 text-center">Bramki</th>
                        </tr>
                  </thead>
                  <tbody class="text-gray-600 text-sm font-light">
                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            1.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/12_Rakow_Czestochowa.png"/>
                                  </div>
                                  <span class="font-medium">Raków Częstochowa</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>

                      </tr>
                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            2.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8  " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/Herb_Legia_Warszawa_2.png"/>
                                  </div>
                                  <span class="font-medium">Legia Warszawa</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>
                      </tr>

                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        ,


                        
                            3.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/10_Pogon_Szczecin.png"/>
                                  </div>
                                  <span class="font-medium">Pogoń Szczecin</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>
                      </tr>

                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            4.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2022_23/clubs/05_Lech_Poznań.png"/>
                                  </div>
                                  <span class="font-medium">Lech Poznań</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>
                      </tr>

                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            5.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/15_Warta_Poznan.png"/>
                                  </div>
                                  <span class="font-medium">Warta Poznań</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>

                      </tr>
                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            6.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/09_Piast_Gliwice.png"/>
                                  </div>
                                  <span class="font-medium">Piast Gliwice</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>
                      </tr>

                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            7.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/02_Cracovia.png"/>
                                  </div>
                                  <span class="font-medium">Cracovia</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>
                      </tr>

                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            8.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2022_23/clubs/Widzew-Lodz-herb.png"/>
                                  </div>
                                  <span class="font-medium">Widzew Łódź</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>
                      </tr>

                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            9.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8  " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/05_Jagiellonia_Bialystok.png"/>
                                  </div>
                                  <span class="font-medium">Jagiellonia Bialystok</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>

                      </tr>
                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            10.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/17_Wisla_Plock.png"/>
                                  </div>
                                  <span class="font-medium">
                                    Wisła Płock</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>
                      </tr>

                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            11.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/04_Gornik_Zabrze.png"/>
                                  </div>
                                  <span class="font-medium">Górnik Zabrze</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>
                      </tr>

                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            12.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/14_Stal_Mielec.png"/>
                                  </div>
                                  <span class="font-medium">PGE FKS Stal Mielec</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>
                      </tr>
                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            13.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/11_Radomiak_Radom.png"/>
                                  </div>
                                  <span class="font-medium">Radomiak Radom</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>

                      </tr>
                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            14.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8  " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2022_23/clubs/Korona-Kielce-herb.png"/>
                                  </div>
                                  <span class="font-medium">Korona Kielce</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>
                      </tr>

                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            15.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/18_Zaglebie_Lubin.png"/>
                                  </div>
                                  <span class="font-medium">KGHM Zagłębie Lubin</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>
                      </tr>

                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            16.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/13_Slask_Wroclaw.png"/>
                                  </div>
                                  <span class="font-medium">Śląsk Wrocław</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>
                      </tr>
                      
                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            17.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8 " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2021_2022/clubs/07_Lechia_Gdansk.png"/>
                                  </div>
                                  <span class="font-medium">Lechia Gdańsk</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>

                      </tr>
                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap text-center w-2">
                        
                            18.
                         
                        </td>
                          <td class="py-3 px-6 text-left whitespace-nowrap">
                              <div class="flex items-center">
                                  <div class="mr-2">
                                    <img class="w-8 h-8  " src="https://d2vzq0pwftw3zc.cloudfront.net/fit-in/100x100/filters:quality(30)/1/2022_23/clubs/miedz_legnica_herb.png"/>
                                  </div>
                                  <span class="font-medium">Miedź Legnica</span>
                              </div>
                          </td>
                          <td class="py-3 px-12 text-center">
                              <div class="flex items-center ">
                                29
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                 71
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              22
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  5
                              </div>
                          </td>
                          <td>  
                            <div class="flex item-center justify-center">
                                3
                            </div> 
                          </td>
                          <td>
                            <div class="flex item-center justify-center">
                                60:19
                            </div> 
                          </td>
                     
                      </td>
                      </tr>

                 </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
</section>


<footer class=" bg-sky-900 rounded-lg shadow m-4 ">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 Maciej Snochowski, Jacek Nowicki ™</a>
  </span>
  
  </div>
</footer>

      
   
</body>
</html>