@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    body{
        --tw-bg-opacity: 1;
        background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    }
    :root{
        --bar-width:40px;
        --bar-height:2px;
        --hamburger-gap:7px;
        --foreground: #333;
        --background:white;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
       }
       .my-hamburger-menu{
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
        display: flex;
        flex-direction: column;
        gap:var(--hamburger-gap);
        width: max-content;
        cursor: pointer;
    }
      
       .my-hamburger-menu::before,
       .my-hamburger-menu::after,
       .my-hamburger-menu input{
      
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--background);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing);

    }
    .my-hamburger-menu input{
        appearance: none;
        outline-offset: none;
        pointer-events: none;
    }
    .my-hamburger-menu input:checked{
     
    
    }
    .my-hamburger-menu:has(input:checked)::before{
        rotate: 45deg;
         width: var(--x-width );
        translate: 0 calc(var(--bar-height)/ -2);
    }
    .my-hamburger-menu:has(input:checked)::after{
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height)/ 2);
    }
    .my-hamburger-menu input:checked{
        opacity: 0;
        width: 0px;
    }
    .my-hidden{
        
        animation-duration: 2.2s;
        animation-name: slideway;
    }
    @keyframes slideway {
        0%{
          opacity:0%; 
        }
        100%{
            opacity:100%;
        }
        
      }
      .my-hidden-d{ animation-duration: 2.2s;
        animation-name: slidewayD;}
        @keyframes slidewayD {
            100%{
              opacity:0%; 
            }
            0%{
                opacity:100%;
            }
    }
    
    
}